{% extends 'base.html' %}
{% block start %}

<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <div class="row container">
        <p class="fs-4 text-center">
            This is a public limited company having its registered and and coporated office at Multan of Punjab state in
            Pakistan.This company was incoporated in year 2018 and the production commenced in 2020. This is one of the
            fastest growing Public Listed Companies in Multan.
        </p>
    </div>
    <br><br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container mb-5">
        <p class="fs-4 text-center">
            To embrace the right technology to delight our Customers Empowering the farmer community through our unique
            'Relationship Farming' Model, To anticipate, understand and respond to our Customer's needs by creating
            high-quality products and making them availabe through innovative and convenient channels
        </p>
    </div>
</div>

{% endblock %}