{% extends 'base.html' %}
{% load widget_tweaks %}
{% block start %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Password Reset</h3>
            <hr>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3"> {{error}} </p>
            {% endfor %}
            {% endif %}

            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label_tag}} {{fm|add_class:'form-control mt-3'}} <small class="text-danger"> {{fm.errors|striptags}} </small> <br>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary mt-1">
                <a href="{%url 'login' %}" type="button" class="btn btn-primary mt-1">Cancel</a>
            </form>
            
        </div>
    </div>
</div>
<!-- <div class="container">

    <div class="center">
        <form method="post" class="card">
            {% csrf_token %}
            <h2 class="text-center">Reset Password</h2>
            {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <small>{{ field.errors|striptags }}</small>
            {% endif %}
            {% endfor %}
            <div class="form-buttons">
                <input type="submit" value="Send" class="btn btn-primary">
                <a href="{%url 'login' %}" class="btn btn-outline">Cancel</a>
            </div>
        </form>
    </div>
</div> -->

{% endblock %}