{% extends 'base.html' %}
{% block start %}


<div class="container my-5">

    <div class="row">

        <h3>Welcome <span class="text-capitalize">{{request.user.first_name}}</span></h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
            </ul>
        </div>

        <div class="col-sm-8 offset-sm-1">

            <div class="my-2">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}} </p>
                {% endfor %}
                {% endif %}
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{msg.tags}}" role="alert">
                    {{msg}}
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <form action="" method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                <div class="my-1">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                <!-- <div class="my-2">
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}} </p>
                    {% endfor %}
                    {% endif %}
                    {% if messages %}
                    {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}" role="alert">
                        {{msg}}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div> -->
            </form>

        </div>

    </div>

</div>




{% endblock %}